#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Gedit New Window
Comment=Edit text files in a new window
Exec=gedit --new-window %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;application/x-zerosize;
Icon=org.gnome.gedit
Categories=GNOME;GTK;Utility;TextEditor;

