[Desktop Entry]
Type=Application
Name=mpv gallery
Comment=Preview images and videos
Icon=mpv
TryExec=mpvg
Exec=mpvg %U
Terminal=false
Categories=Graphics;Viewer;
Keywords=image;video;viewer;preview;
MimeType=video/*;image/*;
