# General
X11Forwarding no
PrintMotd no

# Authentication
UsePAM yes
MaxStartups 5:30:10

# Force public key authentication
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no

# Security
PermitRootLogin no
UsePrivilegeSeparation yes
