// URL folding
atom-text-editor {
    .cursor-line,
    .has-selection {
        span.syntax--markup.syntax--underline.syntax--link {
            max-width: initial;
        }
    }

    span.syntax--markup.syntax--underline.syntax--link {
        max-width: 25ch;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;

        &:hover,
        &:active {
            max-width: initial;
        }
    }
}
