/* Adwaita tweaks */

/* Square elements */
* {
    border-radius: 0px;
}

/* Fix white border around windows in i3 */
decoration {
    padding: 0;
}

/* Fix headerbar color */
headerbar {
    background-image: none;
    background-color: #eaeaea;
}

/* Smaller tabs & fix color */
notebook > header tabs {
    background-color: #eaeaea;
}
notebook > header tab {
    background-color: #eaeaea;
    padding: 1px 6px;
    margin: 0px 0px;
}
notebook > header tab:checked {
    background-color: #eeeeee;
}

/* Button fix color */
button:checked {
    background-image: none;
    background-color: #e0e0e0;
}
