* {
    font-family: "font Source Code Pro";
}

window#waybar {
    background: rgba(40,40,40,0.5);
    color: #D6D6D6;
}

#scratchpad, #temperature, #cpu, #memory, #disk, #pulseaudio,
#backlight, #battery, #clock, #tray, #mode {
    padding: 0 8px;
}

#workspaces button {
    padding: 0 4px;
    border: none;
    border-radius: 0;
    color: #D6D6D6;
}
#workspaces button:hover,
#workspaces button.focused {
    background: rgba(40,40,40,1);
}
#workspaces button.urgent, #mode {
    background: rgba(224,75,62,1);
}

#disk, #pulseaudio.in, #battery, #clock {
    border-right: 2px solid #D6D6D6;
}
